
.main_wrapper{
width:820px;
height:auto;
margin:auto;
}
.content_wrapper{
width:2000px;
height:800px;
margin:auto;
background:pink;
}
*{
font-family: "Helvetica";
}


html{
min-height: 100%; 
width:500px;
padding-bottom: 150px;
}

body{
position:absolute;
min-height: 100%;
height:100%;
background-color:#FFFFEE;
padding-bottom: 100px;
}

#logo{
position:absolute;
left:50px;
}

h2{

font-size:45px;
position:relative;
left:300px;
top:36px;
color:	#FF85AD;
display:inline;
}

#login h2{

font-size:25px;
position:relative;
left:0px;
top:-20px;
color:#FF85AD;
display:inline;
}

ul.sub1 {
list-style-type: none;
margin-top:4px;
}

ul#tabs li{
width:125px;
text-align:left;
position:relative;
top:82px;
left:330px;
float:left;
margin-left:4px;
list-style-type: none;
}

ul#tabs a{
text-decoration:none;
display:block;
width:125px;
height:25px;
}

#tabs li form{
margin-left:1cm;
width:300px;
height:25px;
}

#login{
position:absolute;
top:218px;
left:300px;
background-color:#FFFFEE;
}

#product_box{  
position:absolute;
top:620px;
left:320px;
background-color:none;
width:950px;
text-align:center;
margin-bottom:0px;
padding-bottom: 60px;
}

#product_box1{  
position:absolute;
top:200px;
left:200px;
width:420px;
height: 495px;
text-align:center;
margin-left:30px;
border:2px solid;
border-radius:25px;
padding-bottom: 40px;
}

#button{
width:80px;
height:30px;
background-color:#A9A9F5;
z-index:-1;
border-radius:10px;
}

#single_pro{ 
color: #484A49 ;
font-size:10px;
float:left;
margin-left:30px;
padding:10px;
}

#single_pro1{ 
color: #484A49 ;
font-size:10px;
float:left;
text-align:left;
margin-left:40px;
padding:10px;
padding-bottom:60px;
}

#table_admin{
position:absolute;
float:left;
top:200px;
left:300px;
width:800px;
height:444px;
border-collapse: collapse;
padding-bottom:100px;
}

#phoneHeader{
line-height:50px;
width:650px;
position:absolute;
left:800px;
top:50px;
font-size:12px; 
color: #484A49 ;
vertical-align:text-middle;
}

#phone{

position:absolute;
left:40px;
top:-10px;
}

#sidebar{
position:absolute;
left:50px;
top:215px;
width:150px;
height:30px;
}

#sidebar_title{
text-align:center;
background-color:#FF85AD;
position:absolute;
left:10px;
top:-18px;
width:130px;
height:23px;
}

#sidebar_title1{
text-align:center;
background-color:#FF85AD;
position:absolute;
left:10px;
top:235px;
width:130px;
height:20px;
}
#cats{
padding-bottom:22px;
}

#cats li{
list-style:none;
margin:7px;
text-align:center;
}
#cats a{ color: #484A49;  text-decoration:none; font-size:15px;}

#cats a:hover{color:pink; }

#buying_table{
position:absolute;
float:left;
top:200px;
left:750px;
width:500px;
height:466px;
text-align:left;
background-color:#D8CEF6;
border-radius: 25px;
}

#buying_table td{
width:100px;
height:50px;
text-align:left;
padding-left:20px;
}

#buying_table p{
padding:12px;
text-align:left;
font-size:15px;
}

#buying_table h2{
position:relative;
top:5px;
left:200px;
font-size:20px;
text-align:center;
}

#msg1,#msg2,#msg3,
#msg4,#msg5{
font-size:15px;
color:#FF0080;
width:100px;
height:50px;
text-align:left;
padding-left:20px;
}

#table_order{
position:relative;
float:left;
top:120px;
left:330px;
width:700px;
text-align:center;
}
#table_order td{
padding-left:8px;
}

#table_order th{
padding:8px;
}

#footer{
position:absolute;
bottom:-860px;
left:100px;
height:30px;
width:100%;
border-top-style:double ;
text-align:center;
clear:both;
}
#footer1{
position:absolute;
left:150px;
bottom:-120px;
height:30px;
width:1000px;
border-top-style:double ;
border-bottom:none;
border-left:none;
border-right:none;
text-align:center;
}

